body {
    direction: rtl;
    font-family: 'Markazi Text', serif;
  }
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .04)
}





.table-image td,th {
    vertical-align: middle !important;
}
